.page {
  box-shadow: 0 10px 100px 0 #3c3b6e;
}

.page:hover {
  box-shadow: 0 10px 100px 0 #3c3b6e;
}

.avatar {
  max-width: 120%;
}

.resume {
  text-align: justify;
}

.timeline .punkt {
  font-weight: bold;
  text-decoration: underline;
}

.glasses {
  top: 29%;
  left: 37%;
  height: 30px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.avatar-wrapper {
  position: relative;
}

.ten.ten_custom {
  border-right: solid 3px #3c3b6e;
}

@media screen and (max-width: 767px) {
  .avatar {
    max-width: 30%;
  }

  .ten.ten_custom {
    border-right: none;
  }
}

@media screen and (max-width: 991px) {
  .grid .sixteen.custom_sixteen {
    padding-top: none;
  }
}
